
.vs/slnx.sqlite
QuadBook.Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Api/obj/Debug/net6.0/QuadBook.Api.AssemblyInfo.cs
QuadBook.Api/obj/Debug/net6.0/QuadBook.Api.AssemblyInfoInputs.cache
QuadBook.Api/obj/Debug/net6.0/QuadBook.Api.assets.cache
QuadBook.Api/obj/Debug/net6.0/QuadBook.Api.csproj.AssemblyReference.cache
QuadBook.Api/obj/Debug/net6.0/QuadBook.Api.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Api/obj/Debug/net6.0/QuadBook.Api.GlobalUsings.g.cs
QuadBook.Api/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Api/obj/Release/net6.0/QuadBook.Api.AssemblyInfo.cs
QuadBook.Api/obj/Release/net6.0/QuadBook.Api.AssemblyInfoInputs.cache
QuadBook.Api/obj/Release/net6.0/QuadBook.Api.assets.cache
QuadBook.Api/obj/Release/net6.0/QuadBook.Api.csproj.AssemblyReference.cache
QuadBook.Api/obj/Release/net6.0/QuadBook.Api.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Api/obj/Release/net6.0/QuadBook.Api.GlobalUsings.g.cs
QuadBook.Core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Core/obj/Debug/net6.0/QuadBook.Core.AssemblyInfo.cs
QuadBook.Core/obj/Debug/net6.0/QuadBook.Core.AssemblyInfoInputs.cache
QuadBook.Core/obj/Debug/net6.0/QuadBook.Core.assets.cache
QuadBook.Core/obj/Debug/net6.0/QuadBook.Core.csproj.AssemblyReference.cache
QuadBook.Core/obj/Debug/net6.0/QuadBook.Core.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Core/obj/Debug/net6.0/QuadBook.Core.GlobalUsings.g.cs
QuadBook.Core/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Core/obj/Release/net6.0/QuadBook.Core.AssemblyInfo.cs
QuadBook.Core/obj/Release/net6.0/QuadBook.Core.AssemblyInfoInputs.cache
QuadBook.Core/obj/Release/net6.0/QuadBook.Core.assets.cache
QuadBook.Core/obj/Release/net6.0/QuadBook.Core.csproj.AssemblyReference.cache
QuadBook.Core/obj/Release/net6.0/QuadBook.Core.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Core/obj/Release/net6.0/QuadBook.Core.GlobalUsings.g.cs
QuadBook.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Data/obj/Debug/net6.0/QuadBook.Data.AssemblyInfo.cs
QuadBook.Data/obj/Debug/net6.0/QuadBook.Data.AssemblyInfoInputs.cache
QuadBook.Data/obj/Debug/net6.0/QuadBook.Data.assets.cache
QuadBook.Data/obj/Debug/net6.0/QuadBook.Data.csproj.AssemblyReference.cache
QuadBook.Data/obj/Debug/net6.0/QuadBook.Data.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Data/obj/Debug/net6.0/QuadBook.Data.GlobalUsings.g.cs
QuadBook.Data/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Data/obj/Release/net6.0/QuadBook.Data.AssemblyInfo.cs
QuadBook.Data/obj/Release/net6.0/QuadBook.Data.AssemblyInfoInputs.cache
QuadBook.Data/obj/Release/net6.0/QuadBook.Data.assets.cache
QuadBook.Data/obj/Release/net6.0/QuadBook.Data.csproj.AssemblyReference.cache
QuadBook.Data/obj/Release/net6.0/QuadBook.Data.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Data/obj/Release/net6.0/QuadBook.Data.GlobalUsings.g.cs
QuadBook.Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Services/obj/Debug/net6.0/QuadBook.Services.AssemblyInfo.cs
QuadBook.Services/obj/Debug/net6.0/QuadBook.Services.AssemblyInfoInputs.cache
QuadBook.Services/obj/Debug/net6.0/QuadBook.Services.assets.cache
QuadBook.Services/obj/Debug/net6.0/QuadBook.Services.csproj.AssemblyReference.cache
QuadBook.Services/obj/Debug/net6.0/QuadBook.Services.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Services/obj/Debug/net6.0/QuadBook.Services.GlobalUsings.g.cs
QuadBook.Services/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
QuadBook.Services/obj/Release/net6.0/QuadBook.Services.AssemblyInfo.cs
QuadBook.Services/obj/Release/net6.0/QuadBook.Services.AssemblyInfoInputs.cache
QuadBook.Services/obj/Release/net6.0/QuadBook.Services.assets.cache
QuadBook.Services/obj/Release/net6.0/QuadBook.Services.csproj.AssemblyReference.cache
QuadBook.Services/obj/Release/net6.0/QuadBook.Services.GeneratedMSBuildEditorConfig.editorconfig
QuadBook.Services/obj/Release/net6.0/QuadBook.Services.GlobalUsings.g.cs
