@{
    ViewData["Title"] = "Hjemmeside";
}

<div class="text-center">
    <h1 class="display-4">QuadBook</h1>
    <p>Book hva du vil!</p>
    <br />
    <img src="https://d3aylz43xmn2wt.cloudfront.net/wp-content/uploads/2019/02/02124206/Quadrum-Perspektiv-3-fra-sykkelvei-kveld-squashed-1024x768.jpg" 
    alt="Quadrum" width="700" height="525"
    >
</div>