@{
    ViewData["Title"] = "Hjemmeside";
}

<div class="text-center">
    <h1 class="display-4">QuadBook</h1>
    <p>Book hva du vil!</p>
</div>


<div>
<a href="https://localhost:7011/bookings" class="w3-button w3-black">Bookings</a>
<br>
<a href="https://localhost:7011/Resources" class="w3-button w3-black">Resources</a>
<br>
<a href="https://localhost:7011/ResourceTypes" class="w3-button w3-black">RecourceTypes</a>
<br>
<a href="https://localhost:7011/TypeProperties" class="w3-button w3-black">TypeProperties</a>
<br>
<a href="https://localhost:7011/ResourceProperties" class="w3-button w3-black">ResourceProperties</a>
<br>
<a href="https://localhost:7011/Locations" class="w3-button w3-black">Locations</a>
<br>
</div>