@{
    ViewData["Title"] = "Adminside";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: 500;">Administrator side</h1>
            <br />
        <ul style="font-size: x-large;">
                                    <li class="nav-item">
                <a asp-area="" asp-controller="Bookings" asp-action="Index">Administrer Bookinger</a>
            </li>
            <br/>
                                    <li class="nav-item">
                <a asp-area="" asp-controller="Resources" asp-action="Index">Administrer Ressurser</a>
            </li>
            <br/>
                                    <li class="nav-item">
                <a asp-area="" asp-controller="ResourceTypes" asp-action="Index">Administrer Ressurstypene</a>
            </li>
            <br/>
                                    <li class="nav-item">
                <a asp-area="" asp-controller="Locations" asp-action="Index">Administrer Lokasjon</a>
            </li>
        </ul>
</div>