html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #678c6b;
    color: #ffffff;
}

.navbar {
    background-color: #435b4b;
}

.container {
    color: #000000;
}