/*Site css*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
    color: #ffffff;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

a {
    color: #1e4b24;
}

/*Changes against bootstrap*/

.navbar {
    background-color: #1e4b24;
}

.container {
    color: #000000;
}

.btn-primary {
    background-color: #1e4b24;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1e4b24;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #1e4b24;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}