html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
    color: #ffffff;
    font-weight: 900;
}

.navbar {
    background-color: #1e4b24;
}

.container {
    color: #000000;
}

ul {
    list-style-type: none;
}

a {
    color: #1e4b24;
}

.btn-primary {
    background-color: #1e4b24;
}