@model QuadBook.Models.Resource

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="resourceName" class="control-label"></label>
                <input asp-for="resourceName" class="form-control" />
                <span asp-validation-for="resourceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locationId" class="control-label"></label>
                <select asp-for="locationId" class ="form-control" asp-items="ViewBag.locationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="resourcePropertiesID" class="control-label"></label>
                <select asp-for="resourcePropertiesID" class ="form-control" asp-items="ViewBag.resourcePropertiesID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResourceTypeID" class="control-label"></label>
                <select asp-for="ResourceTypeID" class ="form-control" asp-items="ViewBag.ResourceTypeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
